.nkt-hero{
    height: 100vh;
    @supports (height: 100svh) {
        height:100svh;
    }
}


.nkt-list-categories{
    background-image: url('../../../images/home/bg-about-ss.jpg');
    min-height: 446px;
    margin-top: 100vh;
}