.nkt-hero{
    height: 100vh;
    @supports (height: 100svh) {
        height:100svh;
    }
}


.nkt-list-categories{
    background-image: url('../../../images/home/bg-about-ss.jpg');
    min-height: 446px;
    margin-top: 100vh;
    padding:40px 0;
    position: sticky;
    top: 100px;
    z-index: 9999;

    &::before{
        content: " ";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba($color: #f7f3ee, $alpha: 0.13);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__intro{
        h2{
            font-size: 25.48px;
            line-height: 37.38px;
            color: #80624c;
            margin: 0;
        }

        p{
            font-size: 35.82px;
            line-height: 52.55px;
            font-family: $font-second;
            margin: 10px 0 0 0;
            color: #59493f;
        }

        a{
            font-size: 14.86px;
            line-height: 22.39px;
            font-family: $font-second;
            color:#59493f;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 50px;
        width: 100%;
        max-width: 1540px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 0 20px;

        .cate-item{
            cursor: pointer;
            &__thumbnail{
                img{
                    width: 100%;
                    height: auto;
                    max-width: 140px;
                }
            }

            &__title{
                font-size: 24px;
                line-height: 26.34px;
                color: #69513e;
                font-weight: 500;
                margin: 16px 0 10px 0;
            }

            &#item-cate-champagne{
                .cate-item__thumbnail img {
                    max-width: 79px;
                }
            }

            &#item-cate-aperitifs-digestifs{
                .cate-item__thumbnail img {
                    max-width: 126px;
                }
            }

            &#item-cate-bordeaux-blancs{
                .cate-item__thumbnail img {
                    max-width: 128px;
                }
            }

            &#item-cate-bourgogne-blanc, &#item-cate-la-vallee-du-rhone-rouge{
                .cate-item__thumbnail img {
                    max-width: 123px;
                }
            }

            &#item-cate-la-vallee-du-rhone-blanc, &#item-cate-bourgogne-rouge{
                .cate-item__thumbnail img {
                    max-width: 112px;
                }
            }
        }
    }
}


.nkt-wines {
    .cate-group{
        background: #f9f4ef;
        &-top{
            min-height: 546px;
            padding: 114px 20px;

            h2{
                font-size: 30px;
                line-height: 28.36px;
                font-weight: 500;
                margin: 0;
                color:#fff;
            }

            &.nkt-bg-image{
                position: relative;
                z-index: 1;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($color: $color-primary, $alpha: 0.95);
                    mix-blend-mode: multiply;
                    pointer-events: none;
                    z-index: -1;
                }
            }
        }

        &__types{
            background: rgba($color: #fff, $alpha: 0.84);
            padding: 60px 40px 50px 40px;
            margin-top: -313px;
            min-height: 800px;
            max-width: 884px;
            margin-left: auto;
            margin-right: auto;
            z-index: 9;
            position: relative;

            .type-group{
                &__title{
                    font-size: 24px;
                    color:#80624c;
                    line-height: 28.36px;
                    font-weight: 500;
                    padding-left: 10px;
                    position: relative;
                    margin: 0 0 24px 0;

                    &::before{
                        content: " ";
                        display: inline-block;
                        width: 6px;
                        height: 80%;
                        background: #69513d;
                        position: absolute;
                        left: 0;
                        top:50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
