.nkt-about{
    padding: 75px 0 30px 0;
    width: 100%;
    height: auto;
    background-position: center right;
    background-image: url('../../../images/home/bg-about-ss.jpg');
    margin-top: 100vh;

    @media (max-width: 1023.98px) {
        padding-top: 60px;
    }
    
    @media (max-width: 767.98px) {
        padding: 48px 0 44px 0;
    }

    .nkt-about-warp{
        display: flex;
        align-items: center;
        gap:50px;

        @media (max-width: 1199.98px) {
            gap:30px;
        }

        @media (max-width: 767.98px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        
        > div{
            min-width: calc(50% - 25px);

            @media (max-width: 1199.98px) {
                min-width: calc(50% - 15px);
            }

            @media (max-width: 767.98px) {
                min-width: 100%;
                padding-left: 20px;
            }

            img{
                @media (max-width: 1023.98px) {
                    width: 100%;
                    height: auto;
                    min-height: 40vh;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                }
                @media (max-width: 767.98px) {
                    min-height: 200px;
                }
            }

            &.nkt-about-content{
                padding-right: 20px;
                @media (min-width: 1240px){
                    padding-right: calc(((100% - 1180px) / 2) + 20px);
                }
                
                h2{
                    font-size: 77px;
                    line-height: 100%;
                    font-family: $font-tertiary;
                    margin: 0;
                    color:$color-primary;

                    @media (max-width: 1440.98px) {
                        font-size: 60px;
                    }

                    @media (max-width: 1199.98px) {
                        font-size: 54px;
                    }

                    @media (max-width: 1023.98px) {
                        font-size: 46px;
                    }
                }

                p.sub-heading{
                    margin-top: 32px;
                    @media (max-width: 1199.98px) {
                        margin-top: 24px;
                    }

                    @media (max-width: 1023.98px) {
                        margin-top: 16px;
                    }
                }

                p{
                   font-size: 16px;
                   font-family: $font-second;
                   line-height: 205%;
                   margin-top: 40px;
                   color:#59493f;
                   margin-bottom: 0;

                   @media (max-width: 1199.98px) {
                        margin-top: 30px;
                    }

                    @media (max-width: 1023.98px) {
                        margin-top: 24px;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 12px;
                        margin-top: 20px;
                        line-height: 166%;
                    }
                
                }
            }
        }
    }

    &_carousel{
        margin-top: 40px;
        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }
}